* {margin:0;padding:0;box-sizing:border-box;}
ul {list-style-type:none;}
body {font-family:'Inter';font-weight:300;}
main {display:flex;}
aside {
    width: 100%;
    max-width: 250px;
    background-color: #f9f9f9;
    height: 100%;
    max-height: 100vh;
    overflow-y: scroll;
    padding: 20px 0px;
}
.page-body {
    flex-grow: 1;
}
.group-name {
    font-weight: bold;
    font-size: 14px;
    padding: 0px 20px;
    margin-top: 13px;
    margin-bottom: 5px;
}
.group-item {
    font-size: 14px;
    padding: 2px 40px;
    cursor: pointer;
}
.table-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.table {
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 1px;
    border-color: #cfcfcf;
    border-radius: 10px;
    width: max-content;
    min-width: 300px;
}

.table-row {
    display: flex;
    border-bottom: solid;
    border-width: 1px;
    border-color: #e8e8e8;
    padding: 4px 20px;
}
.table-column.selector-variant-name {
    width: max-content;
    min-width: 180px;
    font-size: 15px;
}
.selector-view {
    display: none;
}
.selector-view-header {
    padding: 20px 15px;
}
.group-item.selected-group-item {
    background-color: #e6e6e6;
}